/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

// Site Buttons -----------------------------
.button,
.is-navigation a {
  font-size: 20px !important;
  line-height: 25px;
  letter-spacing: 3px;
  border: none;
  background: transparent;
}

.button.is-primary,
.is-navigation a {
  text-transform: uppercase;
  width: 220px;
  padding: 12px;
  border-radius: 2.1875rem;
  color: $color__light;
  border: transparent;
  border: 1px solid $color__warning;
  background: $color__primary;
  line-height: 1;
  font-weight: $font__weight-semibold;
  letter-spacing: 3px;
  @include flex(row, center, center);

  &:hover {
    color: $color__light;
    background: $color__warning;
  }
}

.button.is-secondary {
  font-weight: $font__weight-bold;
  color: $color__light;
  transition: $transition;
  padding: 0;
  border-bottom: 3px solid $color__light;
  border-radius: 0;

  &:hover {
    color: $color__primary;
    border-bottom: 3px solid $color__primary;
  }
}

.button.is-secondary.dark {
  &:hover {
    color: $color__light;
    border-bottom: 3px solid $color__light;
  }
}

.button.is-tertiary {
  font-weight: $font__weight-semibold;
  border-bottom: 3px solid $color__primary;
  padding: 0;
  border-radius: 0;
  &:hover {
    color: $color__success-invert;
    border-bottom: 3px solid $color__success-invert;
  }
}

// Menu Buttons -----------------------------
.desktop-menu-btn {
  a,
  a:visited {
    background: $color__primary-dark;
    color: $color__light !important;
    width: 130px;
    height: 33px;
    @include col-cen();
    border-radius: 3px;
    box-shadow: $box-shadow--btn;
  }

  a:hover {
    background: $color__success;
  }
}

.button.is-focused,
.button:focus,
.button.is-focused:not(:active),
.button:focus:not(:active) {
  border: none !important;
  box-shadow: none;
}

.has-background-primary {
  .button.is-primary {
    border: 3px solid $color__light;

    &:hover {
      border: 1px solid $color__warning;
    }
  }
}
