/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-branding {
  display: none;
}

.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid $color__primary-dark;
  background: $color__warning-light;

  @include bp($mobile__bp) {
    background: $color__warning-invert;
  }
}

.main-navigation-container {
  @include flex(row, space-between, center);
  max-width: unset;

  @include bp($mobile__bp) {
    max-width: 1152px;
  }

  @include bp(bulma-fullhd) {
    max-width: 1344px;
  }
}

.main-logo-wrapper {
  vertical-align: middle;
  @include flex(row, unset, flex-start);

  @include bp($mobile__menu-bp) {
    vertical-align: unset;
  }

  &:hover {
    opacity: $dim;
  }

  img {
    object-fit: contain;
    width: auto;
    height: 38px;
    vertical-align: middle;

    @include bp($mobile__menu-bp) {
      height: 52.52px;
    }
  }
}

.error-404 {
  .main-logo-wrapper {
    justify-content: center;
  }
}

.mobile-menu-wrapper {
  @include flex(row, space-between, center);
  width: 100%;
  height: $mobile__menu-height;

  @include bp($mobile__menu-bp) {
    height: $desktop__menu-height;
    width: auto;
  }
}

.popout-menu-wrapper {
  @include bp($mobile__menu-bp) {
    display: none;
  }
}

#toggle {
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  padding: 0;

  @include flex(column, center, center);
  height: 54px;
  width: 54px;

  .menu-icon {
    width: 20px;
    height: 1px;
    border: 1px solid $color__primary-dark;
    border-radius: 3px;
    margin: 0.19rem 0;
    transition: $transition;
  }
  &.toggled {
    .menu-icon:first-child {
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menu-icon:nth-child(2) {
      opacity: 0;
    }

    .menu-icon:last-child {
      transform: rotate(45deg) translate(-5.5px, -6px);
    }
  }
}

#close-popout {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: right;

  &:hover {
    svg {
      stroke: $color__success;
    }
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

// Responsive Menu ---------------
@media screen and (min-width: 1080px) {
  #toggle {
    display: none;
  }
}

@media screen and (max-width: 1079px) {
  #popout {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: $color__warning-invert;
    top: $mobile__menu-height;
    right: 0;
    overflow: auto;
    @include flex(row, flex-end, center);
    overflow-y: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform ease-out 0.3s;
  }
}

.dimmed {
  background: $color__overlay;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

// Popout Menu -----------
.popout-menu {
  width: 100%;
  height: 100%;
  background: $color__warning-invert;
  @include flex(column, flex-start, center);
  color: $color__primary;
  overflow-x: hidden;
  overflow-y: auto;

  .social-menu-wrapper {
    @include flex(column, unset, center);

    @include bp($mobile__menu-bp) {
      @include flex(row, space-between, center);
      margin-top: $space-unit--s;
    }
  }

  ul {
    @include flex(column, center, center);
    padding: 1rem 0 0;

    li {
      text-align: center;
      width: 100%;
      padding: 1rem 0;
    }
  }

  .menu-social-mobile-menu-container {
    padding-top: $space-unit--xs;
  }
}

// Mobile Menu Arrow Down Icon
.mobile-menu-btn {
  border: none;
  background: transparent;
  box-shadow: unset;
  color: $color__light;
  text-shadow: unset;
  padding-top: 0;
  padding-bottom: 0;
  height: 28px;

  &:hover {
    border: none;
    box-shadow: unset;
  }

  @include bp($mobile__menu-bp) {
    display: none;
  }
}

// Desktop ------------------------
.desktop-menu-wrapper {
  display: none;

  @include bp($mobile__menu-bp) {
    @include flex(row, space-between, center);
    height: $desktop__menu-height;
  }

  .social-menu-wrapper {
    @include flex(row, space-between, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $banner__menu-height;

    ul {
      display: block;
    }
  }

  .social-menu-wrapper > div {
    @include flex(row, space-between, center);
    position: relative;
    max-width: unset;

    @include bp($mobile__bp) {
      max-width: 1152px;
    }
  }

  .contact-menu {
    svg {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }
  }

  .secondary-menu {
    @include flex(row, center, center);
  }

  .menu-main-menu-container {
    li:last-child {
      padding-right: 0;
    }
  }

  .menu-main-menu-container > ul {
    display: block;
  }

  li {
    text-transform: lowercase;
    padding: 1.89rem 1.75rem;
    position: relative;

    &:hover {
      .sub-menu {
        display: block;

        li {
          a {
            transition: $transition;
            display: inline-block !important;
          }
        }
      }
    }
  }
}

// Desktop Social Menu
#menu-social-menu {
  padding: 0;

  li {
    border: none;
    padding: $space-unit--xxs 0;

    @include bp($mobile__menu-bp) {
      padding: 0;
      margin-left: 2rem;
    }
  }
}

// Desktop Menu
#primary-menu {
  @include row-cen();
}

ul#header-button {
  display: block;
  li {
    padding: 0;
  }
}

// Menu item with children ----------------
li.menu-item-has-children {
  position: relative;
  @include flex(column, center, center);
  flex-wrap: wrap;

  &:hover {
    > a:after {
      @include bp($mobile__bp) {
        content: '-';
        transform: rotate(360deg);
      }
    }
  }
  > a {
    @include flex(row, space-between, center);

    &:after {
      @include bp($mobile__bp) {
        content: '+';
        transform: rotate(180deg);
        font-weight: $font__weight-bold;
        margin-left: 0.5rem;
        transition: $transition;
      }
    }
  }
  a {
    order: 1;

    @include bp($mobile__menu-bp) {
      order: unset;
      width: unset;
    }
  }

  .sub-menu {
    order: 3;
    list-style: none;
    margin: 0;

    @include bp($mobile__menu-bp) {
      order: unset;
      background: $color__light;
      box-shadow: $box-shadow--2;
      padding: $space-unit--xxs 1.75rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: $desktop__menu-height - 4px;
      z-index: 99999;
    }

    li {
      border: none !important;
      padding: 0.5rem 0 1rem;

      @include bp($mobile__menu-bp) {
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: 5px 0;
      }

      a {
        @include bp($mobile__menu-bp) {
          font-family: $font__main;
          font-weight: $font__weight-bold !important;
          font-size: 20px;
          line-height: 20px;
          color: $color__primary !important;
          text-transform: uppercase !important;
          margin-left: 0;
          white-space: nowrap;

          &:visited {
            color: $color__dark;
          }
        }
      }
    }
  }

  .mobile-menu-btn {
    order: 2;
  }

  li.current-menu-item,
  li.current-page-ancestor {
    > a {
      &:after {
        background: url('../../assets/images/bungalow-968-arrow-info.svg')
          center/cover no-repeat;
      }
    }
  }
}

// Active Menu Items --------------
#mobile-menu .current-menu-item > a,
#menu-social-mobile-menu .current-menu-item > a,
#primary-menu .current-menu-item > a,
#primary-menu .current-page-parent > a {
  border-bottom: 1px solid $color__primary;
}
